<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dictionary Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <h2>Lab3_1 New - Dictionary</h2>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <hr />
    <footer class="footer">
        <div class="container">
            <p>(c) Aliaksei Charniauski - 2020</p>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>